*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  counter-reset: page-number;
}

@media print {
  body {
    background-color: white;
  }
}
