*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  // background-color: $color-white-2;
  // min-width: 992px;
  counter-reset: page-number;
}

@media print {
  body {
    background-color: white;
  }
}
